.HeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}
.AddTodo {
    padding: 10px;
}
.Filters {
    padding: 10px;
}