.ModalButton {
    margin: 5px;
    font-size: 50px;
    /* padding: 10px; */
    align-items: center;
    justify-content: center;
}
.ColorLabel {
    width: 70px;
    height: 20px;
    border-radius: 0.5rem;
}

@media (min-width:961px) {
    .ColorLabel {
        width: 70px;
        height: 20px;
    }
    .ModalButton {
        margin: 5px;
        width: 90px;
        /* padding: 10px; */
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:960px) {
    .ColorLabel {
        width: 50px;
        height: 15px;
    }
    .ModalButton {
        margin: 5px;
        width: 70px;
        /* padding: 10px; */
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:479px) {
    .ColorLabel {
        width: 30px;
        height: 10px;
    }
    .ModalButton {
        margin: 5px;
        width: 50px;
        /* padding: 10px; */
        align-items: center;
        justify-content: center;
    }
}