.ColorLabel {
    width: 70px;
    height: 20px;
    border-radius: 0.5rem;
}

@media (min-width:961px) {
    .ColorLabel {
        width: 70px;
        height: 20px;
    }
}

@media (max-width:960px) {
    .ColorLabel {
        width: 50px;
        height: 15px;
    }
}

@media (max-width:479px) {
    .ColorLabel {
        width: 30px;
        height: 10px;
    }
}